// .imageContainer img {
//     max-width:300px;
//     align-content: center;
// }

// .imageContainer {
//     display:inline-block;
// }


* {
    box-sizing: border-box;
  }
  
  /* Create two unequal columns that floats next to each other */
  .column {
    float: left;
    padding: 20px;
    height: 100px; /* Should be removed. Only for demonstration */
    margin:0;
}
  
  .left {
    width: 300px;
    display:block;
    margin:0;
    padding-bottom:25px
   
  }
  
  .right {
    width: 70%;
    padding-left:200px
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: grid;
    clear: both;

  }